{
    "plugins": [
        "transform-class-properties"
    ],
    "presets": [
        "react-native",
        [
            "@babel/preset-env",
            {
                "modules": "commonjs"
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                "transform-class-properties"
            ],
            "presets": [
                "react-native",
                [
                    "@babel/preset-env"
                ]
            ],
        }
    }
}